USE [master]
GO
/****** Object:  Database [db_employee]    Script Date: 2017/12/17 16:46:53 ******/
CREATE DATABASE [db_employee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_employee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db_employee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_employee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db_employee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_employee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_employee]
GO
USE [db_employee]
GO
/****** Object:  Table [dbo].[tb_employee]    Script Date: 2017/12/17 16:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_employee](
	[id] [tinyint] NOT NULL,
	[name] [nvarchar](32) NOT NULL,
	[linedata] [date] NOT NULL,
	[isrecommend] [bit] NULL,
	[remarks] [ntext] NOT NULL,
	[age] [tinyint] NOT NULL,
	[dapartment] [nvarchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_salary]    Script Date: 2017/12/17 16:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_salary](
	[id] [tinyint] NOT NULL,
	[salary] [money] NOT NULL,
	[name] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_employee] ADD  DEFAULT ('false') FOR [isrecommend]
GO
USE [master]
GO
